<div class="estilo">
    <main class="contenido-extenso">
        <section class="top">
            <div class="volver" routerLink="/dataservice">
                <div class="volver-boton">
                    <fa-icon [icon]="faAngleLeft" class="icon"></fa-icon> 
                </div>
            </div>

            <div>
                <h1>Ingresa tus datos fiscales</h1>
            </div>

            <div class="volver">
                <div class="volver-boton">
                    <fa-icon [icon]="faBusSimple" class="icon"></fa-icon> 
                </div>
            </div>
        </section>
        
        <article class="busqueda">
            <section>
                <div class="tipo-servicio">
                    <p>RFC</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>
                <div class="recuadro">
                    <input type="text" placeholder="Escribe">
                </div>
            </section>

            <section>
                <div class="tipo-servicio">
                    <p>Razón social</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>
                <div class="recuadro">
                    <input type="text" placeholder="Escribe">
                </div>
            </section>

            <section>
                <div class="tipo-servicio">
                    <p>Uso CFDI</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>
                <div class="recuadro">
                    <input type="text" placeholder="Escribe">
                </div>
            </section>

            <section>
                <div class="tipo-servicio">
                    <p>Régimen fiscal</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>

                <div class="recuadro">
                    <input type="text" placeholder="Escribe">
                </div>
            </section>

            <section>
                <div class="tipo-servicio">
                    <p>Correo electrónico</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>
            
                <div class="recuadro">
                    <input type="text" placeholder="Escribe">
                </div>
            </section>

            <section>
                <div class="tipo-servicio">
                    <p>Código postal</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>

                <div class="recuadro">
                    <input type="text" placeholder="Escribe">
                </div>
            </section>
        </article>
        
        <div class="atajos">
            <div class="subir-datos">
                <p>Añadir datos opcionales</p>
            </div>
            <div class="boton-in">
                <button class="boton-uno" (click)="alertNextStep()">
                    Siguiente
                </button>
            </div>
        </div>
    </main>
</div>