@if (isVisible){
<div class="modal-background">
    <div class="modal-content">
      <button class="close-button" (click)="closeModal()">
        <fa-icon [icon]="faTimes" (click)="closeModal()" ></fa-icon>
      </button>
      <div class="estilo">
        <main class="contenido">
          <h1 class="texto-bienvenida">Bienvenido a Shrimp Bill</h1>

          <article class="centrado">
            <section class="botonsito">
              <p>Generar factura</p>
              <div class="icon"> 
                <!-- <fa-icon [icon]="faFileLines" class="icon-a"></fa-icon>   -->
              </div>
            </section>

            <section class="inicio"> 
              <div class="boton">
                <button class="boton-uno">
                    Iniciar sesión
                </button>
              </div>
            </section>

            <section class="botonsito">
                <p>Recuperar CFDI</p>
                <div class="icon"> 
                  <!--<fa-icon [icon]="faMagnifyingGlassDollar" class="icon-a"></fa-icon>-->
                </div>
            </section>
          </article>
        </main>
      </div>
    </div>
</div>  }