<!-- -->
<header class="nar">
    <body class="body">
        <main class="principal">
            <article class="logo"></article>
            <article class="formulario">
                <div class="texto">Iniciar sesión</div>
                <form action="" class="inputs">
                    <div class="input">
                        <input
                            type="email"
                            placeholder="Correo electrónico"
                        /> 
                        <!-- Falta arriba el llamada de las cosas del back, que no tengo idea de como sea en Angular -->
                    </div>

                    <div class="input">
                        <input 
                            type="password"
                            placeholder="Contraseña"
                        >
                        <!-- Falta arriba el llamada de las cosas del back, que no tengo idea de como sea en Angular -->
                    </div>

                    <div class="boton">
                        <button class="boton-uno">
                            Iniciar sesión
                        </button>

                        <button class="boton-dos">
                            <a routerLink="/register">Registro</a>
                        </button>   
                    </div>

                    <div class="olvidaste">
                        ¿Olvidaste la contraseña? <br />
                        <span>Haz click aquí</span>
                    </div>
                </form>
            </article>
        </main>
    </body>
</header>