.texto-bienvenida{
    text-align: center;
}

.subtexto-bienvenida{
    text-align: center;
}

.centrado{
    display: flex;
    flex-direction: row;
}

.generar-factura{
    display: block;
    width: 160px;
    height: 160px;
    margin: 10px 180px;
    margin-top: 65px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #e8e6e6;
    background-color: #fff;
    cursor: pointer;
}

.icon{
    width: 65px;
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.icon-a{
    width: 60px;
    height: 60px;
    text-align: center;
    color: black;
    font-size: 65px;
    margin-left: 55px;
    margin-top: 12px;
}

.centrado p{
    margin-top: 5px;
    text-align: center;
    gap: 15px;
    font-size: 20px;
}


.recuperar-cdfi{
    display: block;
    width: 160px;
    height: 160px;
    margin: 10px 180px;
    margin-top: 65px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #e8e6e6;
    background-color: #fff;
    cursor: pointer;
}