<style>
    @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<main class="main">
  <div class="content">
    <ul>
      <li>
        <a><fa-icon [icon]="faCircleQuestion" class="icon"></fa-icon> </a>
        <a routerLink="/home">Inicio</a>
        <a routerLink="/login" class="inicio">Login</a>
      </li>
    </ul>
  </div>
</main>

<app-modal></app-modal>


<router-outlet />
