<div class="estilo">
    <!-- Contiene el diseño de los componentes -->
    <main class="contenido">
        <section class="top">
            <div class="volver" routerLink="/home">
                <div class="volver-boton">
                    <fa-icon [icon]="faAngleLeft" class="ico"></fa-icon>
                </div>
            </div>
            <div class="acomodo-texto">
                <h1 class="texto-bienvenida">¡Bienvenido!</h1>
                <h2 class="subtexto-bienvenida">Selecciona tu trámite</h2>
            </div>
        </section>

        <!--Siendo el de generar factura-->
        <article class="centrado">
            <section class="botonsito" (click)="alertNextStep()">
                <p>Transporte</p>
                <div class="icon"> 
                    <fa-icon [icon]="faBusSimple" class="icon-a"></fa-icon> 
                </div>
            </section>

            <section class="botonsito" case=2>
                <p>Alimentos</p>
                <div class="icon"> 
                    <fa-icon [icon]="faAppleWhole" class="icon-a"></fa-icon>
                </div>
            </section>

            <section class="botonsito" >
                <p>Paquetería</p>
                <div class="icon"> 
                    <fa-icon [icon]="faBox" class="icon-a"></fa-icon>
                </div>
            </section>

            <section class="botonsito" (click)="toggleScanQr()">
                <p>Tengo un qr</p>
                <div class="icon"> 
                   <fa-icon [icon]="faQrcode" class="icon-a"></fa-icon> 
                </div>
            </section>

            @if (showScanQr) {<app-scan-qr></app-scan-qr>}
        </article>
    </main>
    @if (noCameraError && showScanQr){
        <p>No se detectó ninguna cámara. Por favor, conecta una cámara para escanear el QR.</p>
    }
</div>