<!-- Esto se encarga de ser el botón de recuperar CDFI, que contendra, ciertas
- páginas siguientes después del diseño -->

<!-- Contiene el diseño de los componentes -->
<div class="estilo">
    <main class="contenido">
        <section class="top">
            <div class="volver" routerLink="/home">
                <div class="volver-boton">
                    <fa-icon [icon]="faAngleLeft" class="icon"></fa-icon>
                </div>
            </div>

            <div class="pepito"><h1 class="texto">Buscar CFDI</h1></div>
            <div class="volver-boton"></div>
        </section>
        
        <article class="busqueda">
            <section>
                <div class="tipo-servicio">
                    <p>Tipo de servicio</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>
                <div class="recuadro">
                    <input formControlName="tipoServicio" type="text" placeholder="Introduce el tipo de servicio" />
                  
                    <div *ngIf="!recoveryForm.get('tipoServicio')?.valid && recoveryForm.get('tipoServicio')?.touched" class="error-message">Este campo es obligatorio</div>
                </div>
            </section>

            <section >
                <div class="tipo-servicio">
                    <p>Token</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>
                <div class="recuadro">
                    <input formControlName="token" type="text" placeholder="Introduce el token" />
                    <div *ngIf="!recoveryForm.get('token')?.valid && recoveryForm.get('token')?.touched" class="error-message">Este campo es obligatorio</div>
                </div>
            </section>

            <section>
                <div class="tipo-servicio">
                    <p>RFC</p>
                    <fa-icon [icon]="faCircleQuestion" class="ico"></fa-icon>
                </div>
                <div class="recuadro">
                    <input formControlName="rfc" type="text" placeholder="Introduce el RFC" />
                    <div *ngIf="!recoveryForm.get('rfc')?.valid && recoveryForm.get('rfc')?.touched" class="error-message">Este campo es obligatorio</div>
                </div>
            </section>
        </article>

        <div class="siguiente"> 
            <button 
                class="boton-uno"
                [disabled]="!isFormValid"
                (click)="onButtonClick()"
                [class.clicked]="clicked">
                Buscar
            </button>
        </div>
    </main>
</div>